---
import PostLayout from '../../layouts/PostLayout.astro';
---

<PostLayout title="No Longer The Ether" date="May 28, 2019" category="Poetry" description="A poem by Ryan Kopperud." type="poetry">

<p>I noticed something<br />
No longer the ether<br />
I still averted my eyes<br />
and searched<br />
I was trying to bite into fruit<br />
Without getting any</p>

</PostLayout>
