---
import PostLayout from '../../layouts/PostLayout.astro';
---

<PostLayout title="The Biggest Ticket in Town" date="October 12, 2016" category="Essay" description="A Minnesotan, writer, and sports fan says goodbye to Kevin Garnett. A personal reflection told through the lens of an eight-year-old Timberwolves fan sitting courtside with his dad.">

<p><em>A Minnesotan, Writer, & Sports Fan Says Goodbye to Kevin Garnett</em></p>

<p>How I became a fan of Kevin Garnett and the Minnesota Timberwolves isn't exactly important right now. For most, our fandom gets planted somewhere in our heritage.</p>

<p>It's our fathers; our grandmothers. It's our elder cousins, the cool neighbor kid, or our big brothers and sisters — more often than not, it's a combination of all the above.</p>

<p>Our fervor grows over time. It gets nurtured by hand-me-down t-shirts, cherished memorabilia pieces hanging in our basements, and holiday-gifted jerseys. We learn which side of the war we fight for by listening to warm cheers in the living rooms of our childhood homes. Many of us begin to emulate those same cheers before we even fully understand them.</p>

<p>In many ways, that's where my fandom for the Timberwolves starts too. And even though it isn't exactly important right now, reflecting on Kevin Garnett's retirement feels like an ending. Not to my (or anyone else's) fandom, of course — but to something.</p>

<p>So — if I were to present you with a beginning to that something, before we arrive at an ending to that something — I would briefly take you back to 1995.</p>

<h3>I.</h3>

<p>I was eight years old. Tortoise shell bespectacled with a blonde bowl cut, I was the dictionary definition of an awkward elementary schooler. It was December-in-Minnesota cold, and Christmas was fast-approaching. Already a young fan, and determined I would indeed be in the NBA one day, my father and I donned our winter jackets and braved falling snow through downtown Minneapolis to attend a Minnesota Timberwolves game in the best seats either of us have ever, and maybe will ever, sit in.</p>

<p>This situation was due entirely to my grandfather's company seats, gifted to him, and then onto us, from the Minneapolis Star Tribune. A treat such as this was passed around to each of the grandkids, one each year, until his retirement from the newspaper after 30-some years in the late 1990's.</p>

<p>My father and I sat in the 8th row behind our home basket, where I vividly remember my father leaning near me, and pointing toward a stocky, bald-headed man sitting court side. He was so close I could've swished a piece of popcorn on the top of his head.</p>

<p>My father spoke quietly, saying:</p>

<blockquote><p>"You see there? That's Kirby Puckett."</p></blockquote>

<p>I marveled at the feeling of being so close to a veteran of one Minnesota sport, while simultaneously being so close to a new crop of athletes in another Minnesota sport. Specifically, a promising young rookie who had come to the Timberwolves straight out of high school, by the name of Kevin Garnett.</p>

<p>I remember feeling like we'd snuck in; like we almost didn't belong so close to all this greatness.</p>

<p>At a game break somewhere in the second half, we looked directly up at the (now-defunct) video board hanging above center court in the Target Center to see the one and only Santa Claus making his way down the lower bowl stairs. Spreading Christmas cheer to Timberwolves fans left and right, he handed candy canes out from a large white bag as he proceeded downward stair by stair. And even though I was teetering on the age of belief, I smiled at his presence. The palpable warmth he brought to the crowd, in stark contrast with the below-zero windchill outside.</p>

<p>Suddenly, I felt the spotlight that had been fixated on this Santa Claus as he descended grow nearer to myself and my father. And I felt a hush as I watched this same Santa Claus from the video board overhead appear suddenly in the aisle, directly beside me.</p>

<p>Leaning down over me, he asked only so we could hear:</p>

<blockquote><p>"Son, is your name Ryan?"</p></blockquote>

<p>I looked at my father, who smiled, as if to say:</p>

<blockquote><p>"Go ahead."</p></blockquote>

<p>And, absolutely terrified at what I then realized was a sold-out Target Center looking directly at us, I paused and replied:</p>

<blockquote><p>"...yes?"</p></blockquote>

<p>Santa replied with a rough, albeit kind, voice through a quite-fake beard:</p>

<blockquote><p>"Well then, this is for you. Merry Christmas, young man."</p></blockquote>

<p>From his magical white bag, he pulled out an autographed basketball, still in its cardboard packaging, signed by an assortment of Timberwolves players from the 1995-1996 season.</p>

<p>The crowd applauded. I blushed so hard I thought my face might literally light on fire. That night, and for many nights afterward — I held onto that basketball, and that moment, like a life raft.</p>

<p>I knew, from then on, I would be a fan for eternity.</p>

<h3>II.</h3>

<p>When you spend your whole life growing up in Minnesota, you don't get a lot of hometown heroes. Of course we all listen to Prince; of course a lot of us listen to The Replacements — but Garrison Keiller wasn't exactly exciting for most children, and outside of Paul Wellstone and the aforementioned Kirby Puckett, our state didn't give us many legends to cheer for.</p>

<p>It hurts all of us to admit it, but — we're not big winners here.</p>

<p>Rooting for men's professional sports in Minnesota carries with it the heavy burden of building anticipation and inevitable disappointment. As the internet has recently assured us, Minnesota currently has a longer national championship drought for men's professional sports than any other state in the country.</p>

<p>No fan of men's professional sports in Minnesota who's under the age of 35 knows what it feels like to win it all.</p>

<p>Our state hasn't seen a national championship in any men's sport since the Twins in 1991, and for those who remember even further back, the moments of levity are few and far between. For men's basketball, it's never happened — not once — in 27 years.</p>

<p>And yet, amidst all of the tough losses and the distinct lack of bright spots over the years — I, like many Timberwolves fans, hung onto a hometown hero that somehow never failed me.</p>

<p>Not when I was sitting eight rows away, watching him play one of his first 50 games during a solid rookie season in 1995, while receiving autographed basketballs from Santa Claus in what felt like it must've been a drug-induced dream-state.</p>

<p>Not nine months ago, watching him suited on the bench and sitting (or more often standing) court side, screaming at the top of his lungs, and firing up our back-to-back Rookies of the Year.</p>

<p>In 1995, The Kid came to us like a beacon of light. Fresh faced and full of promise; he exhibited an astonishing amount of talent, with a unique and infectious energy that was, and arguably still is, unmatched in the league. The only people who didn't like Kevin Garnett were those who had to play against him.</p>

<p>Very quickly, The Kid became The Franchise, by playing basketball with the type of intensity that made you push your head back a little further; open your eyes a little wider — as if you thought for a brief moment, he just might break through your television screen.</p>

<p>We'd never had that. And we desperately needed that.</p>

<p>When you grow up in a microcosm of midwestern values — "Minnesota Nice" — it can be disorienting the first time you see a seven-foot-tall, 250 pound man flex his sinewy frame, throw his head back, and scream expletives into the air after dunking a basketball over a man so violently, the still image will inevitably end up frozen on a poster.</p>

<p>But there's this thrill.</p>

<p>KG's jersey was one of three I ever owned as a kid, and one of two I truly wanted. When you get older, you wear that jersey to support your team; root for that player. But when you're a kid, you wear that jersey, because the moment you pull it over your head, you <em>are</em> that player.</p>

<p>That thrill arrived over and over again in the nearly infinite number of moments that The Big Ticket did something positively superhuman; something undeniably great; something in the name of us.</p>

<p>When he swatted the shots of basketball gods? So did you.</p>

<p>When he viciously dunked on the most famous NBA All-Stars? So did you.</p>

<p>You trash-talked the most frightening players in the league. Banged on your own head, screamed at the top of your lungs, and took your state to the Western Conference Finals. You stood, two feet firmly planted on the sideline announcers table, whirling your warm-up shirt in air like a helicopter.</p>

<p>You bowed down to no man. And you stood up to all of them.</p>

<p>Yes, I know — Kevin Garnett never won a championship in Minnesota. But I don't know a single Timberwolves fan who blamed him for going to the Celtics and winning one there.</p>

<p>When KG looked skyward, and screamed:</p>

<blockquote><p>"Anything is possible."</p></blockquote>

<p>It was as if we Minnesotans all collectively thought:</p>

<blockquote><p>"It is now."</p></blockquote>

<p>We cracked soft smiles, and nodded our heads in recognition. If we couldn't have a ring just yet — he damn-well should.</p>

<h3>III.</h3>

<p>When the rumor mill buzzed that The Big Ticket could return to Minnesota, I fully transported back into my nine-year-old self. I was, unabashedly, giddy like a child. So what if his playing time had been diminishing for the last five years. So what if 20 NBA seasons had taken a toll on his 40-year-old frame. None of that mattered. Our thrill — our hometown hero — was coming home.</p>

<p>It wasn't a story of the prodigal son — it was more like a benevolent father. A man who taught us so much, earned our love and respect, and had to leave for a little while to... take care of some things — could've gone anywhere. And when he came back to Minnesota, it was as if he was reaffirming that we were his — and he was ours.</p>

<p>He proved that you don't have to win a national championship to be a hometown hero. It's not about that. It's about respect. Love. Loyalty. Integrity. Intensity. It's about bonds that are bigger than rings and bigger than checks.</p>

<p>Inevitably in the coming years, Kevin Garnett's number 21 jersey will be retired and mounted from the rafters in the Target Center. He will be unanimously voted into the Hall of Fame. He will undoubtedly go down in history as one of the best, if not the best, power forwards in the history of the NBA.</p>

<p>But maybe more important to us, and I think maybe equally important to him as living in the ceiling of the Target Center, and inside of the Hall of Fame, is that he'll live inside the minds and hearts of every Minnesota sports fan. Each one proud of the biggest ticket in town. A man whose skill, hard work, intensity, and trash talk — were legendary — and for a moment — it was ours.</p>

<p>I could list the endless awards and accolades number 21 garnered in 21 seasons, but most Minnesota sports fans know them inside and out anyway — and none of them were the real reasons we loved Kevin Garnett. We loved him because, when we felt small, he made us feel a little bigger.</p>

<p>The first game of Kevin Garnett's return to the Target Center, his custom introduction video flashed highlight footage from his 1995 inaugural season juxtaposed with footage from his departing season in 2007.</p>

<p>The words on the screen read:</p>

<blockquote><p>"It doesn't matter where you've been. There is only one home."</p></blockquote>

<p>In that moment — our hero came home, and in that moment — we got to be heroes too.</p>

<p>Farewell, KG. Thank you for every memory.</p>

<p>We'll miss you forever.</p>

</PostLayout>
